{% extends 'joke_app/base.html' %}
{% block content %}
  <ol>
    {% if favourite_jokes %}
      {% for joke in favourite_jokes %}
        <li class="margin-10px">
          {{ joke }}
          <form id="myForm-{{ forloop.counter }}" method="post" action="{% url 'joke_app:favourites' %}">
            {% csrf_token %}
            <input type="hidden" name="joke" value="{{ joke }}">
            <button type="submit" class="btn btn-light btn-sm">Delete</button>
          </form>
        </li>
      {% endfor %}
    {% else %}
      <p>You haven't added any jokes :/</p>
    {% endif %}
  </ol>
  <a class="btn btn-light btn-sm" href="{% url 'joke_app:index' %}">Continue to jokes</a>
{% endblock content %}
