{% extends 'joke_app/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="joke">{{ joke }}</div>
    <div class="button-group">
      {% if joke != "Could not fetch joke. Please try again later." %}
        <form method="post" action="{% url 'joke_app:index' %}">
          {% csrf_token %}
          <input type="hidden" name="joke" value="{{ joke }}">
          <button type="submit" class="btn btn-light btn-sm">Add joke to favourites</button>
        </form>
      {% endif %}

      <a class="btn btn-light btn-sm" href="{% url 'joke_app:favourites' %}">Favourites</a>
      <a class="btn btn-light btn-sm" href="{% url 'joke_app:jokes_rating' %}">Jokes rating</a>
      <a class="btn btn-light btn-sm" href="{% url 'api:get_data' %}">API (JSON Format)</a>
      <a class="btn btn-light btn-sm" href="{% url 'joke_app:index' %}">Another joke</a>
    </div>
  {% else %}
  <h1>Joke generator</h1>
  {% endif %}
{% endblock content %}
